.btn-default {
    color: #bce8f1;
    background-color: #428bca;
    border-color: #bce8f1;
}

.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.verticalCentre {
    margin-top: 70%;

}

.newButton {
    position:absolute;
    bottom:50%;
    left: 35%;
}